
<h2>Daftar Program-Program Prioritas</h2>

- [PRIORITAS BAWANG](/id/konsep/prioritas/bawang)
- [PRIORITAS IKAN](/id/konsep/prioritas/ikan)
- [PRIORITAS KAYU](/id/konsep/prioritas/kayu)
- [PRIORITAS PRODUK UMKM](/id/konsep/prioritas/produk-umkm)

<h2>Apa yang Dibutuhkan untuk Menyelesaikan Isu Mata Rantai di Indonesia?</h2>

<div class="link-container split-3">
  <a href="/id/konsep/kajian"></a>
  <div class="circle"><span class="fa fa-flask"></span></div>
  <span class="circle-aside">Kajian</span>
</div>

<div class="link-container split-3">
  <a href="/id/konsep/ekosistem"></a>
  <div class="circle"><span class="fa fa-cogs"></span></div>
  <span class="circle-aside">Ekosistem</span>
</div>

<div class="link-container split-3">
  <a href="/id/konsep/pembangunan-kapasitas"></a>
  <div class="circle"><span class="fa fa-cubes"></span></div>
  <span class="circle-aside">Pembangunan Kapasitas</span>
</div>
