header {
    border-bottom: 1px solid $grey-color-light;
    line-height: 56px;
    min-height: 56px;
}

header h1 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

header nav {
    float: right;
    ul li {
        display: inline;
        list-style: none;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

body {
    background-color: $background-color;
    color: $text-color;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    article header h1 {
      float: none;
    }
    article section {
      margin-top: $spacing-unit / 2;
    }

    article section h2 {
      font-size: 20px;
      font-weight: 600;
    }

    article section h3 {
      font-size: 18px;
      font-weight: 600;
    }
}

footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

footer h2 {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

footer ul {
    font-size: 15px;
    color: $grey-color;
    @extend %clearfix;
}
