---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <!-- <img/> -->
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <aside>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>
      {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span>
      </span>{% endif %}
    </aside>
  </header>
  <section itemprop="articleBody">
    {{ content }}
  </section>
</article>
